<!DOCTYPE html>
<html ng-app="cookbook">

<head>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.2.28/angular.min.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.2.28/angular-animate.min.js"></script>
  <!-- include source files here... -->
  <script type="text/javascript" src="cookbook.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="HomeCtrl">
  <h2>Run The Jewels Quiz</h2>
  <hr>
  <h3>Q1: Which emcee raps the first verse on Angel Duster?</h3>
  <label ng-repeat="emcee in emcees" for="{{emcee}}">
    {{emcee}}
    <input type="radio" ng-model="answer.one" ng-value="emcee" id="{{emcee}}" name="one">
  </label>
  <p ng-show="!!answer.one">Answer: {{answer.one}}</p>
  <div class="hint-wrapper">
    <a href="" class="hint-btn" ng-click="hint = !hint">Hint?</a>
    <hint><hint>
  </div>
</body>

</html>
