<!DOCTYPE html>
<html ng-app="cookbook">

<head>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.28/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <!-- include source files here... -->
    <script type="text/javascript" src="cookbook.js"></script>
</head>

<body ng-controller="HomeCtrl">
    <button ng-click="onLoadUsers()" ng-show="!users.length">Load Users</button>
    <div ng-repeat="user in users">
        <span>{{user.name}}</span>
    </div>
</body>

</html>
